/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */


/*
Table Of Contents

# BRANDING
  
  tribe-black: rgb(0,0,0);
  tribe-grey: rgb(204,204,204);
  tribe-primary-blue: rgb(25,69,97);
  tribe-secondary-blue: rgb(150,194,226);
  

# TYPOGRAPHY
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;;



/*
* ==========================================================
*     BRANDING 
* ==========================================================
*/
:root {
  /*colors*/
  --tribe-black: rgb(0,0,0);
  --tribe-grey: rgb(204,204,204);
  --tribe-primary-blue: rgb(25,69,97);
  --tribe-secondary-blue: rgb(150,194,226);
 
  /*typography*/
  --tribe-heading: font-family: 'Open Sans', sans-serif;
  --tribe-paragraph: font-family: 'Roboto', sans-serif;
  
}

/*
*==========================================================
*     TYPOGRAPHY 
* ==========================================================
*/

body {
  font-family: var(--tribe-paragraph);
  background: #fff;

}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--tribe-heading);
  font-weight: 400;
  color: var(--tribe-primary-blue);

  /* color: #0a145a; */
}
/* .h1, h1 {
  font-size: 2.75rem;
  text-transform: uppercase;
} */
p {
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}
sup {
  vertical-align: middle;
  font-size: 1rem;
}
a:link, a:visited {
  font-family: var(--tribe-heading);
  font-weight: 700;
  color: var(--tribe-black);
  text-decoration: none;
  transition: 0.5s;
}

a:hover { 
  color: var(--tribe-secondary-blue);
}

.logo {
  text-transform: uppercase;
  font-family: var(--tribe-paragraph);

}
/*
*==========================================================
*     FORMS, INPUTS, BUTTONS
* ==========================================================
*/
.btn {
  border-radius: 0%;
}
.btn-light {
  background: -webkit-linear-gradient(top, #f2f2f2, #e2e2e2);
  transition: 0.5s;
}
.btn-light:hover{
  background: -webkit-linear-gradient(bottom, #f2f2f2, #e2e2e2);
}

a.btn-primary {
  background: var(--tribe-primary-blue);
  color: #fff;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}

a.btn-primary:hover{
  background: var(--tribe-secondary-blue);
  color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background: var(--tribe-secondary-blue);
  color: #fff;
}
.form-control {
  border: 2px solid #000;
  border-radius: 0;
}
label {
  font-weight: 700;
}

/*
*==========================================================
*     HEADER NAV
* ==========================================================
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 25px;
  background: #FFF;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;

}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 60px;
  padding: 0 20px;
  color: #000;
  text-decoration: none;
  display: block; 
}

header nav ul li a:hover,
header nav ul li a.active {
  color: var(--tribe-secondary-blue);
}

.menu-toggle {
  color: black;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 955px){
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #373636;
    top: 80px;
    left: -100%;
    transition: 0.5s;
    z-index: 3;
  }
  header nav.active {
    left: 0;
    z-index: 3;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  
  header nav ul li a {
    color: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

img.svg-slants {
  width: 300px;
} 

section.hero {
  width:100%;
  height:auto;
  background: url('../img/placeholder-background-one.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  margin: 80px 0 0;
  position: relative;
  
}
@media (max-width:767px){
  section.hero {
  background: url('../img/placeholder-background-one.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size:cover;
  }
}
.hero-text {
  padding-top: 165px;
  padding-bottom: 136px;
  
}
.hero .hero-text h1,
.hero .hero-text h4 {
  color: white;
}
.hero .hero-text h1 {
  font-weight: 700;
}
section#why {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 15px;
}

#why-photo {
  background: url('../img/placeholder-img-one.jpg');
  background-repeat: no-repeat;  
  height: 484px;
  background-position: center;
  
}
section#workouts {
  padding-top: 35px;
  padding-bottom: 35px;
  background: black;
  background: url('http://via.placeholder.com/1600x600?text=Image');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
}

.workouts-item {
  box-sizing: border-box;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  margin-bottom:35px;
  transition: all .2s ease-in-out;
}
.workouts-item:hover {
  background: rgba(0,0,0,1);
}
.workouts-header {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
  
}
.workouts-header h1 {
  color: #fff;
  text-align: center;
}
.workouts-header h5 {
  text-align: center;
  text-transform: none;
  color: #fff;
}
.workouts-item-header h2 {
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--tribe-primary-blue); 
}
.workouts-item-body p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 10px;
}
section#pricing {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 15px;
  background: url('../img/white-1044659_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width:767px){
  section#pricing {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0;
    background: url('../img/white-1044659_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.pricing-header {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
}
.pricing-header h1 {
  color:   var(--tribe-primary-blue);
  text-align: center;
}
section#pricing .pricing-header:after {
  margin-left: auto;
  margin-right: auto;
}
section#pricing .pricing-header::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: var(--tribe-primary-blue);
  margin: 25px auto 0;
}

.pricing-tier {
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 15px;
  background: #fff;
  /* -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08); */
  margin-bottom: 15px;
}

.pricing-tier.year-unlimited.text-center {
  width: 90%;
  margin: 0 auto;
  transform: rotate(-2deg);
}
#pricing h4 {

  font-weight: 300;
}

section#pricing .row + .row {
  margin-top: 20px;
}

section#mindbody  {
  padding-top: 35px;
  padding-bottom: 35px;
  background: var(--tribe-black);
}

section#mindbody h1,
section#mindbody p {
  color: var(--tribe-secondary-blue);
}

section#mindbody p::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: var(--tribe-primary-blue);
  margin: 25px auto 0;
}

section#mindbody img {
  width: 200px;
}

@media (max-width:767px){
  section#mindbody img {
    margin-bottom: 15px;
  }
}

section#contact-us {
  padding-top: 35px;
  padding-bottom:35px;
}