# Compiled source #
###################
.DS_Store

# Don't track gulp file #
#########################
gulp.js

# Don't track content of these folders #
#####################################
node_modules/  
